<div class="container-fluid homepage">
  <div class="row">
    <div class="col-sm-10 searchform">
      <div class="col-sm-12">
        <%= render 'searches/form' %>
      </div>
    </div>
  </div>

<!-- <svg id="graph"></svg> -->

</div>
