@import 'https://fonts.googleapis.com/css?family=Open+Sans|Pacifico';
@import "partials/base";

$open-sans: 'Open Sans', sans-serif;
$pacifico:'Pacifico', sans-serif;


body{
  padding: 80px 50px;
}

.text-bold{
  font-weight: bold;
}

.navbar{
  padding: 5px 20px;
  background-color: #AFD8DE;
  border-bottom: none;
  font-family: $open-sans;
  
  .navbar-header{
    @include links(black, white);
  
    .navbar-brand{
      font-size: 2.5rem;
      font-family: $pacifico;
    }
  }

  .navbar-nav>li{
    @include links(black, white);
    font-size: 1.5rem;
    margin: 2px;
  }
}
