@import 'https://fonts.googleapis.com/css?family=Open+Sans|Pacifico';
@import "partials/base";

$open-sans: 'Open Sans', sans-serif;
$pacifico:'Pacifico', sans-serif;


body{
   // padding: 0;
}

.container{
  padding: 130px 50px 20px;
}

.text-bold{
  font-weight: bold;
}

.navbar{
  padding: 5px 20px;
  background: transparent;
  border-bottom: none;
  font-family: $open-sans;
  
  .navbar-header{
    @include links(black, black);
  
    .navbar-brand{
      background-color:rgba(245,146,25,0.7);
      margin: 10px;
      height: 140px;
      width: 140px;
      border-radius: 50%;
      font-size: 2.5rem;
      font-family: $pacifico;

      .logo{
        position: relative;
        font-size: 4rem;
        top: 15px;
      }

      .herhealth{
        position: relative;
        top:20px;
        left: 8px;
      }
    }
  }

  .navbar-nav>li{
    @include links(black, orange);
    background-color: white;
    border-radius: 5px;
    font-size: 2rem;
    margin: 20px 2px;
  }
}
