@import "partials/base";

#loginform, #registerform, .btn{
  margin-top: 2%;
}

.login-register-btn{
  float:right;
}

.registerlink{
  padding-top: 2%;
}

#bio{
  padding: 20px 0;
}

.user-info{
  padding: 20px 10px 40px;
  background-color:#EFB267;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.entries{
  padding-bottom:40px;
  background-color:#99CCCC;
  border-top: 1px solid white;

  h2{
    margin-top:20px;
  }

  .entry{
    margin-bottom: 10px;
    background-color:#EFB267;
    padding: 10px;
    border-radius: 5px;
    .entry-btns{
      @include links(black, #FAE9D3);
      font-size: 30px;
      text-align: center;
    }
    .fa-eye, .fa-pencil, .fa-trash-o{
      margin: 5px;
      background-color: #99CCCC;
      padding: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}

.buttons{
  margin: 20px;

  .profile-btns{
    background-color: #99CCCC;  
    @include links(black, white);
    margin: 5px;
  }
}

.delete-btn{
  padding-bottom: 20px;
}

.show{
  
}